@charset "utf-8";

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    background-color: silver;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px 3% 50px;
    background-color: white;
}

h1 {
    font-size: 40px;
    font-family: "Arial";
}

p{
    line-height: 70px;
}

input, select {
    width : 150px;
    height : 2em ;
    font-size : 100%;
}

select {
    font-weight : bold;
    font-size : 100%;
}

.btn, a.btn, button.btn {
  font-size: 1.2rem;
  font-weight: bold;
  width: 250px;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

.silverbtn, a.silverbtn {
  color: black;
  background-color: silver;
}

.silverbtn:hover, a.silverbtn:hover {
  color: white;
  background: grey;
}
